# Site settings
title: Seotory
email: seotory437@gmail.com
description: > # this means to ignore newlines until "baseurl:"
  서토리의 고분고투 개발 스토리를 담은 블로그입니다.

# url info
baseurl: "" # the subpath of your site, e.g. /blog/
url: https://blog.seotory.com # the base hostname & protocol for your site
enforce_ssl: blog.seotory.com

# sns info
twitter_username: seotory
github_username:  seotory
facebook_username: ""

# url change (/:year/:month/:day)
permalink: /post/:year/:month/:title

# timezone
timezone: Asia/Seoul

# read file
markdown_ext: markdown,mkdown,mkdn,mkd,md

# layout setting
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  -
    scope: 
      path: ""
      type: "pages"
    values:
      layout: "page"

# collections
collections:
  solutions:
    output: true
    permalink: /solution/:year/:month/:title

# highlighter settings
# Build settings
markdown: kramdown
highlighter: rouge

# Markdown Processors
rdiscount:
  extensions: []

redcarpet:
  extensions: []

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  input: GFM
  hard_wrap: false
  footnote_nr: 1
  enable_coderay: false
  hard_wrap: false
  auto_ids: false
  auto_id_stripping: false
  parse_block_html: false

# post separator
excerpt_separator: <!--more-->

# CSS
sass:
  sass_dir: _sass

# paging
paginate: 10
paginate_path: "/list/:num/"

# gems
gems:
  - jekyll-paginate

# plugins
# safe: true

# exclude
exclude: [Rakefile, README, Gemfile]
