---
layout: default
---
<section class="page-content">
  <div class="wrapper">
    <ul class="display">
      <li class="display-item">
        <!-- main_top_336_280 -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:336px;height:280px"
             data-ad-client="ca-pub-1634875166425349"
             data-ad-slot="2628164514"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </li>
      {% for post in paginator.posts %}
      <li class="display-item">
        <div class="cube" data-href="{{ post.url | prepend: site.baseurl }}" data-bg-img="{{ post.image }}">
          <div class="cube-title">{{ post.title }}</div>
          <div class="cube-body-wrap">
            <div class="cube-body-contents cube-body-contents--hide">
              {% if post.description %}
                {{ post.description | strip_html }} [더보기]
              {% else %}
                {{ post.excerpt | strip_html | truncatewords: 40 }} [더보기]
              {% endif %}
            </div>
            <div class="cube-body-info-wrap">
              {% if post.comments %}
              <span class="cube-body-info-icon cube-body-info-icon--red">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </span>
              <span class="cube-body-info-link">
                <a href="#" onclick="return false;" data-disqus-identifier="{{post.url}}"></a>
              </span>
              {% endif %}
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
      <li class="display-item">
        <!-- main_bottom_336_280 -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:336px;height:280px"
             data-ad-client="ca-pub-1634875166425349"
             data-ad-slot="3965296917"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </li>
    </ul>
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
    <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
      <em>{{ page }}</em>
      {% elsif page == 1 %}
      <a href="/{{site.baseurl | replace: '//', '/'}}">{{ page }}</a>
      {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
    <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}

</section>