<script>
function log ( msg ) {
	if ( console )
		console.log( msg );
}

(function() {
  "use strict";

  var toggles = document.querySelectorAll(".c-hamburger");
  var $Cate = $('.site-cate');

  for (var i = toggles.length - 1; i >= 0; i--) {
    var toggle = toggles[i];
    toggleHandler(toggle);
  };

  function toggleHandler(toggle) {
    toggle.addEventListener( "click", function(e) {
      e.preventDefault();
      //(this.classList.contains("is-active") === true) ? this.classList.remove("is-active") : this.classList.add("is-active");
      if ( this.classList.contains("is-active") === true ) {
        this.classList.remove("is-active");
        $Cate.removeClass("active");
      } else {
        this.classList.add("is-active");
        $Cate.addClass("active");
      }
    });
  }

  $('#btn-up').on('click', function ( e ) {
    $(window).scrollTop(0);
    return false;
  });
  $('#btn-down').on('click', function ( e ) {
    $(window).scrollTop($(document).height());
    return false;
  });

  var imgAry = [];
  imgAry.push('/images/title-background.jpg');
  imgAry.push('http://ts.daumcdn.net/custom/blog/100/1006037/skin/images/4.jpg');
  imgAry.push('http://ts.daumcdn.net/custom/blog/100/1006037/skin/images/6.jpg');
  imgAry.push('http://ts.daumcdn.net/custom/blog/100/1006037/skin/images/13.jpg');
  imgAry.push('http://ts.daumcdn.net/custom/blog/100/1006037/skin/images/15.jpg');
  imgAry.push('http://ts.daumcdn.net/custom/blog/100/1006037/skin/images/18.jpg');
  imgAry.push('http://ts.daumcdn.net/custom/blog/100/1006037/skin/images/20.jpg');
  imgAry.push('http://ts.daumcdn.net/custom/blog/100/1006037/skin/images/21.jpg');
  imgAry.push('http://ts.daumcdn.net/custom/blog/100/1006037/skin/images/24.jpg');
  imgAry.push('http://ts.daumcdn.net/custom/blog/100/1006037/skin/images/26.jpg');
  imgAry.push('http://ts.daumcdn.net/custom/blog/100/1006037/skin/images/30.jpg');
  imgAry.push('http://ts.daumcdn.net/custom/blog/100/1006037/skin/images/31.jpg');
  imgAry.push('http://ts.daumcdn.net/custom/blog/100/1006037/skin/images/35.jpg');
  imgAry.push('http://ts.daumcdn.net/custom/blog/100/1006037/skin/images/42.jpg');
  imgAry.push('http://ts.daumcdn.net/custom/blog/100/1006037/skin/images/47.jpg');
  imgAry.push('http://ts.daumcdn.net/custom/blog/100/1006037/skin/images/52.jpg');
  imgAry.push('http://ts.daumcdn.net/custom/blog/100/1006037/skin/images/67.jpg');
  imgAry.push('http://ts.daumcdn.net/custom/blog/100/1006037/skin/images/68.jpg');
  imgAry.push('http://ts.daumcdn.net/custom/blog/100/1006037/skin/images/69.jpg');
  imgAry.push('http://ts.daumcdn.net/custom/blog/100/1006037/skin/images/72.jpg');
  imgAry.push('http://ts.daumcdn.net/custom/blog/100/1006037/skin/images/82.jpg');

  var rNum = Math.floor((Math.random() * imgAry.length));
  $('.page-header').css({"background-image":"url("+ imgAry[rNum] +")"});  // .animate({opacity: 1})
})();
</script>