<footer class="site-footer">
  <a href="/feed/" class="feed" target="_blank">
    <i class="fa fa-rss"></i>
  </a>
  <div class="wrapper">
    <div class="site-share">
      <ul>
        <!--
        <li>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>          
        </li>
        <li>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>          
        </li>
        -->
        <li class="share-icon">
          <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
        </li>
        <li class="share-icon">
          <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
        </li>
        <li class="share-icon">
          <a href="#"><i class="fa fa-github fa-fw"></i></a>
        </li>
        <!--
        <li class="share-icon">
          <a href=""><i class="fa fa-twitter"></i></a>
        </li>
        -->
      </ul> 
    </div>
    <!--
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
    </span>
    -->
    <div class="site-copyright">
      Copyrightⓒ2016 By <a href="https://blog.seotory.com/" target="_blank"><strong>Seotory</strong></a>
    </div>
    <!--
    {{ site.description }}
    -->
  </div>

</footer>
