<footer style="padding: 5em 0px; border-top: rgba(34,36,38,.1) 1px solid;">
  <div class="ui container">
    <!-- <a href="/feed/" class="feed" target="_blank">
      <i class="fa fa-rss"></i>
    </a> -->
    <div class="ui center aligned grid">
      <div class="row">
        <div class="column">
          <button class="ui circular orange icon button">
            <i class="feed icon"></i>
          </button>
          <button class="ui circular facebook icon button">
            <i class="facebook icon"></i>
          </button>
          <button class="ui circular twitter icon button">
            <i class="twitter icon"></i>
          </button>
          <button class="ui circular black icon button">
            <i class="github icon"></i>
          </button>
        </div>
      </div>
      <br />
      <div class="site-copyright">
        Copyrightⓒ2016-2022 By <a href="https://blog.seotory.com/" target="_blank"><strong>Seotory</strong></a>
      </div>

    </div>
  </div>
</footer>
