<div class="ui grid">
  <!-- pc menu -->
  <div class="computer tablet only row">
    <div class="ui stackable top fixed menu"><!-- ui large top fixed hidden menu -->
      <div class="ui container">
        <a href="/" class="teal item">{{ site.title }}</a>
        <!-- <div class="teal item">
          <a href="/">{{ site.title }}</a>
        </div> -->
        <div class="right menu">
          {% for page in site.pages %}
          {% if page.title %}
          <a href="{{ page.url | prepend: site.baseurl }}" class="teal item">{{ page.title }}</a>
          {% endif %}
          {% endfor %}
          <div class="ui simple dropdown item">
            Category
            <i class="dropdown icon"></i>
            <div class="menu">
              {% for category in site.categories %}
              <a href="/categories/{{ category | first }}/" class="teal item">{{ category | first }}</a>
              {% endfor %}
            </div>
          </div>
          <div class="ui simple dropdown item">
            ETC
            <i class="dropdown icon"></i>
            <div class="menu">
              <a href="/solutions/" class="teal item">Error solutions</a>
            </div>
          </div>
          <div class="item">
            <div class="ui icon input">
              <input type="text" placeholder="Search">
              <i class="search link icon" id="site-search"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- mobile menu -->
  <div class="mobile only row">
    <div class="ui fixed inverted navbar menu">
        <a href="/" class="brand item">Seotory</a>
        <div class="right menu">
            <a href="#" onclick="mobileMenuController(this);return false;" class="menu item" data-show-left-menu="off">
                <i class="sidebar icon"></i>
            </a>
        </div>
    </div> 
    <div id="mobile-menu" class="ui left fixed vertical menu" style="left: -15rem; z-index: 9999;">
      {% for page in site.pages %}
      {% if page.title %}
      <a href="{{ page.url | prepend: site.baseurl }}" class="item">{{ page.title }}</a>
      {% endif %}
      {% endfor %}
      <div class="ui item">
        <div class="text">Category</div>
        <div class="menu">
          {% for category in site.categories %}
          <a href="/categories/{{ category | first }}/" class="item">{{ category | first }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="ui item">
        <div class="text">ETC</div>
        <div class="menu">
          <a href="/solutions/" class="item">Error solutions</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('body').dimmer('get dimmer')
      .on('click', function(){
        $('#mobile-menu').animate({left: '-15rem'});
      });

    $('#site-search').on('click', function(e) {
      var text = $($(this).siblings()[0]).val();
      window.open('https://www.google.co.kr/search?q=site:blog.seotory.com+'+text, '_blank');
    });
  })
  function mobileMenuController(el) {
    $('#mobile-menu').animate({left: '0px'});
    $('body').dimmer('show');
    return false;
  }
</script>