<header class="site-header">

  <div class="wrapper clearfix">
    <div class="site-title">
      <a href="/">{{ site.title }}</a>
    </div>
    <div class="site-menu">
      <ul class="pc-menu">
      {% for page in site.pages %}
        {% if page.title %}
        <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
      {% endfor %}
        <li>
          Category
          <div>
            <ul>
              {% for category in site.categories %}
              <li><a href="/categories/{{ category | first }}/">{{ category | first }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </li>
        <li>
          ETC
          <div>
            <ul>
              <li><a href="/solutions/">Error solutions</a></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </li>
      </ul>
      <ul class="mobile-menu">
        <li>
          <button class="c-hamburger c-hamburger--htx">
            <span>toggle menu</span>
          </button>       
        </li>
      </ul>
    </div>
    <div class="site-cate">
      <ul>
        {% for category in site.categories %}
        <li><a href="/categories/{{ category | first }}/">{{ category | first }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

</header>
