<div class="ui top fixed menu"><!-- ui large top fixed hidden menu -->
  <div class="ui container">
    <div class="active item">
      <a href="/">{{ site.title }}</a>
    </div>
    <div class="right menu">
      {% for page in site.pages %}
      {% if page.title %}
      <a href="{{ page.url | prepend: site.baseurl }}" class="teal item">{{ page.title }}</a>
      {% endif %}
      {% endfor %}
      <div class="ui simple dropdown item">
        Category
        <i class="dropdown icon"></i>
        <div class="menu">
          {% for category in site.categories %}
          <a href="/categories/{{ category | first }}/" class="teal item">{{ category | first }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="ui simple dropdown item">
        ETC
        <i class="dropdown icon"></i>
        <div class="menu">
          <a href="/solutions/" class="teal item">Error solutions</a>
        </div>
      </div>
      <div class="item">
        <div class="ui input">
          <input type="text" placeholder="search">
        </div>
      </div>
    </div>
  </div>
</div>