html, body {
  width: 100%!important;
  height: 100%!important;
}

body {
  font-size: $base-font-size;
}

article {
  font-family: $base-font-family;
//   font-size: $base-font-size;
  line-height: $base-line-height;
//   font-weight: $base-font-weight;
//   color: $text-color;
  -webkit-text-size-adjust: none;

  p {
    line-height: $base-line-height;
  }
  img {
    max-width: 100%;
    vertical-align: middle;
  }
  > table { 

    padding: 0; 
    border-collapse: collapse;
    margin-bottom: 15px;
    
    tr {
      border-top: 1px solid #cccccc;
      background-color: white;
      margin: 0;
      padding: 0; 
    }
    tr:nth-child(2n) {
      background-color: #f8f8f8; 
    }
    tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; 
    }
    tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; 
    }
    tr th :first-child, table tr td :first-child {
      margin-top: 0; 
    }
    tr th :last-child, table tr td :last-child {
      margin-bottom: 0; 
    }
   }
}

pre, code {
    font-family: "Consolas", "Menlo", "Monaco", "Courier", monospace;
    // font-size: 15px;
    line-height: 1.3;
    border-radius: 3px;
    tab-size: 4;
}

code {
  padding: 1px 5px;
}

code.highlighter-rouge {
  color: #C31D1D;
  background-color: #F9F3F3;
}

pre {
  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}


/**
 * Blockquotes
 */
// blockquote {
//   position: relative;
//   min-height: 1em;
//   margin: 1em 0em;
//   background: #F8F8F9;
//   padding: 1em 1.5em;
//   line-height: 1.4285em;
//   -webkit-transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
//   transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
//   border-radius: 0.28571429rem;

//   background-color: #FCFFF5;
//   color: #2C662D;
//   box-shadow: 0px 0px 0px 1px #A3C293 inset, 0px 0px 0px 0px rgba(0, 0, 0, 0);
// }
blockquote {
  font-family: Georgia, serif;
  font-size: 16px;
  font-style: italic;
  width: 100%;
  margin: 0.5em 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}

blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -15px;
  top: -20px;
  color: #7a7a7a;
}

blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
 
blockquote cite:before {
  content: "\2014 \2009";
}

#post > .container {
  position: relative;
  padding-right: 325px !important; 
}


.color-white {
  color: #fff !important;
  opacity: 1 !important;
}