
// .highlight, pre {
//   border-radius: 0.5rem;
//   background-color: #f8f8f8;
// }

pre, code {
    font-family: "Consolas", "Menlo", "Monaco", "Courier", monospace;
    font-size: 0.9em;
    line-height: $code-line-height;
    tab-size: 4;
}

pre {
  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
 
 /* custom */
.highlight {
  border-radius: 8px;
}
.highlighter-rouge {
  margin-bottom: 1em;
}