@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NanumBarunGothic/NanumBarunGothicWeb.eot');
  src: url('../fonts/NanumBarunGothic/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('../fonts/NanumBarunGothic/NanumBarunGothicWeb.woff') format('woff'), url('../fonts/NanumBarunGothic/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/NanumBarunGothic/NanumBarunGothicWebBold.eot');
  src: url('../fonts/NanumBarunGothic/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('../fonts/NanumBarunGothic/NanumBarunGothicWebBold.woff') format('woff'), url('../fonts/NanumBarunGothic/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/NanumBarunGothic/NanumBarunGothicWebLight.eot');
  src: url('../fonts/NanumBarunGothic/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('../fonts/NanumBarunGothic/NanumBarunGothicWebLight.woff') format('woff'), url('../fonts/NanumBarunGothic/NanumBarunGothicWebLight.ttf') format('truetype');
}