
/* site header css */
.site-header .wrapper {
    height: 50px;
    line-height: 50px;
    border-bottom: #BABABA 1px solid;
}
.site-title {
    font-size: $menu-font-size;
    position: absolute;
    top: 0;
}
.site-menu {
    max-width: 100%;
    float: right;
}
.site-menu ul {
    list-style: none;
}
.site-menu ul li {
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
    float: left;
}

/* post section */
.post-title {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 40px;
    text-align: center;
}
.post-meta {
    text-align: right;
}


/* @include media-query($on-laptop) {} */

/* site footer css */
.site-footer .wrapper {
    height: 70px;
    line-height: 70px;
    border-top: #BABABA 1px solid;
}
.footer-icons, .footer-icons ul li {
    float: left;
}
.footer-icons ul {
    margin: 0px;
}
.footer-icons ul li {
    list-style: none;
    padding-right: $spacing-unit / 2;
}
.footer-icons ul li i {
    

}
.site-copyright {
    float: right;
}