---
import { SITE_URL } from '../consts';
const year = new Date().getFullYear();
---
<footer class="footer has-background-white">
  <div class="container has-text-centered is-max-widescreen">
    <p>
      Copyrightⓒ2016-{year} By
      <a href={SITE_URL} target="_blank"><strong>Seotory</strong></a>
    </p>
  </div>
</footer>
