---
import PostCard from './PostCard.astro';
import Pagination from './Pagination.astro';
import AdUnit from './AdUnit.astro';
import type { Post } from '../utils/posts';

interface Props {
  posts: Post[];
  page: number;
  total: number;
}
const { posts, page, total } = Astro.props;
---
<section class="section">
  <div class="container is-max-widescreen">
    <AdUnit slot="2628164514" variant="display" />
    {posts.map((post) => <PostCard post={post} />)}
    <AdUnit slot="3965296917" variant="display" />
  </div>
</section>

{
  total > 1 && (
    <section class="section pt-0">
      <div class="container is-max-widescreen">
        <Pagination page={page} total={total} />
      </div>
    </section>
  )
}
