<!DOCTYPE html>
<html>
  {% include head.html %}
  <body style="position: relative;">

    {% include header.html %}

    <div class="ui grid">
      <div class="computer tablet only row"> 
        <section style="height: 20px; width: 100%;">
          <div class="ui container"></div>		
        </section> 
      </div> 
      <div class="mobile only row">
        <section style="height: 12px; width: 100%;">
          <div class="ui container"></div>		
        </section> 
      </div> 
    </div>

    {{ content }}

    {% include footer.html %}

    <!-- disqus count js -->
    <script type="text/javascript" id="dsq-count-scr" src="//seotory-blog.disqus.com/count.js" async></script>

    <!-- semantic UI -->
    <script type="text/javascript" src="/js/semantic.min.js"></script>
  </body>
</html>
<!-- Proudly Hosted on GitHub | Generated {{ site.time }} | Revision {{ site.github.build_revision }} -->