---
layout: default
---
<!-- title header -->
<section class="ui inverted vertical masthead center aligned segment" style="padding: 1em 0em; margin-bottom: 50px;">
  <div class="ui container">
    <div class="column">
      <div style="margin: 12em 0px;">
        <h1 style="font-size: 3.5em;">{{ page.title }}</h1>
        <span>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</span>
      </div>
    </div>
  </div>
</section>

<!-- contents body -->
<section id="post" style="margin: 50px 0px;">
  <div class="ui container">

    <div class="ui grid">
      {% include history.html history=page.history %}
      <!-- post -->
      <div class="row">
        <div class="column">
          <article>
          {{ content }}
          </article>
        </div>
      </div>

      <!-- 전후글 -->
      {% for post in site.categories[page.categories.last] %}
        {% if post.url == page.url %}
          {% assign post_index0 = forloop.index0 %}
          {% assign post_index1 = forloop.index %}
        {% endif %}
      {% endfor %}
      {% for post in site.categories[page.categories.last] %}
        {% if post_index0 == forloop.index %}
          {% assign next_post = post.url %}
        {% endif %}
        {% if post_index1 == forloop.index0 %}
          {% assign prev_post = post.url %}
        {% endif %}
      {% endfor %}
      {% if prev_post or next_post %}
      <div class="row">
        <div class="column">
          <div class="ui grid">
            <div class="two column large screen only row">
            <!-- <div class="post-prev">
              <a href="{{ prev_post }}">< PREV</a> <br>
            </div> -->
              <div class="column">
          {% if prev_post %}
                <div class="ui fade animated primary button">
                  <div class="visible content">Prev</div>
                  <div class="hidden content">
                    <i class="left arrow icon"></i>
                  </div>
                </div>
          {% endif %}
              </div>
              <!-- <div class="post-next">
                <a href="{{ next_post }}">NEXT ></a> <br>
              </div> -->
              <div class="right aligned column">
          {% if next_post %}
                <div class="ui fade animated primary button">
                  <div class="visible content">Next</div>
                  <div class="hidden content">
                    <i class="right arrow icon"></i>
                  </div>
                </div>
          {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div> 

    <!-- right menu -->
    <div class="ui computer tablet only grid" style="position: absolute; width: 300px!important; top: 0; right: 0;margin: 0px;">

      <!-- tags -->
      {% if page.tags.size > 0 %}
      <div class="row">
        <div class="ui padded segment">
          <h4 class="ui horizontal divider header">
            <i class="tag icon"></i>
            Tags
          </h4>
          {% for tag in page.tags %}
          <a class="ui teal label" href="/tags/?#{{ tag }}">{{ tag | downcase }}</a>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      
      <div class="row">
        {% if jekyll.environment != "development" %}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- post_right_300_250 -->
        <ins class="adsbygoogle"
              style="display:inline-block;width:300px;height:250px"
              data-ad-client="ca-pub-1634875166425349"
              data-ad-slot="1483687319"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        {% endif %}
      </div>
    </div>

  </div>
</section>

{% if page.comments and jekyll.environment != "development" %}
<!-- disqus -->
<section style="border-top: rgba(34,36,38,.1) 1px solid; padding: 50px 0px; background: #f5f5f5;">
  <div class="ui container">
    <div id="disqus_thread"></div>
    <script>
    /**
    * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
    */
    var disqus_shortname = 'seotory-blog';
    var disqus_config = function () {
      //this.page.url = "blog.seotory.com{{ page.url }}";
      this.page.identifier = "{{ page.url }}";
      this.page.title = "{{ page.title }}";
    };
    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>
</section>
{% endif %}

{% if site.categories[page.categories.last].size > 1 %}
<section style="border-top: rgba(34,36,38,.1) 1px solid; padding: 50px 0px;">
  <div class="ui container">
    <!-- category other posts start -->
    <div class="ui cards">
      {% assign counter = 0 %}
      {% for post in site.categories[page.categories.last] %}
        {% if post.title != page.title and counter < 6 %}
          {% assign counter=counter | plus:1 %}
        <div class="ui centered card">
          <div class="content">
            <div class="header">{{post.title}}</div>
            <div class="meta">
              <span class="category">{{post.categories.last}}</span>
            </div>
            <!-- <div class="description">
              Elliot Fu is a film-maker from New York.
            </div> -->
          </div>
          <div class="ui bottom attached button">
            <i class="add icon"></i>
            <a class="header" href="{{post.url}}" style="color: rgba(0,0,0,.6);">Read More</a>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    <!-- category other posts end -->
  </div>
</section>
{% endif %}